@model Users
@{
    ViewData["Title"] = "admin page";
    List<Users> myUsers = ViewBag.Users;
}

@* <div >
    @foreach (var employee in Model)
    {
        <h2>@employee.Name</h2> <br />
        <h2>@employee.Age</h2>
        
        @employee.Surname
        @employee.Email
        @employee.CreateTime

        <br />
    }

</div> *@

<div class="container">
    <h2 class="mt-4" class="text-center mt-4" >                         Adminler</h2>
<br />
<br />
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
            <th scope="col">CreateTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kullanıcı in myUsers)
        {
            <tr>

                <td>@kullanıcı.Name<td>
                <td>@kullanıcı.Email</td>
                <td>@kullanıcı.Password</td>
                <td>@kullanıcı.Role</td>
                <td>@kullanıcı.CreateTime</td>
                
            </tr>
        }
       
    </tbody>
</table>
</div>


<div class="container">
<div class="m-10">
    <h3>Admin Ekle</h3>
</div>

<form asp-action="AdminAdd" asp-controller="Home" asp-area="Admin" method="post" target="_self">
    <div class="form-group" class="m">
        <label asp-for="Name">Name</label>
        <input asp-for="Name"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
       
    </div>
    <div class="form-group">
        <label asp-for="Email">Email address</label>
        <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        
    </div>
    <div class="form-group">
        <label asp-for="Password" for="exampleInputPassword1">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Role</label>
        <select asp-for="Role" class="form-control" id="exampleFormControlSelect1">
            <option value="SüperAdmin">SüperAdmin</option>
            <option value="Admin"> Admin</option>
        </select>
        <br />
        <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

