@model Silicon
@{
    List<Silicon> silicon = ViewBag.silicons;
}


<style>
    .custom-margin {
        text-align: center
    }
</style>

<div class="container mt-4">
    <h2 class="container custom-margin"> Silicons </h2>
    <br />
    <br />
    <table class="table table-dark">
        <thead>
            <tr>

                <th scope="auto">Barkod</th>
                <th></th>

                <th scope="auto">Silicon Name</th>


                <th></th>

                <th scope="auto">Silicon Price $</th>
                <th></th>
                <th scope="auto">Silicon Amount</th>
                <th scope="auto">HARD DELETE</th>
                <th scope="auto">SOFT DELETE</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var x in silicon)
            {
                @if (x.IsDeleted==false)
                {
                    <tr>
                        <td>@x.BarcodeId
                        <td>
                        <td>@x.SiliconName
                        <td>
                        <td>@x.SiliconPrice
                        <td>
                        <td>@x.SiliconAmount</td>

                        <td>
                            <form method="post" asp-action="DeleteSilicon" asp-area="Admin" asp-controller="Silicon">
                                <input asp-for="Id" type="hidden" name="Id" value="@x.Id" />
                                <input asp-for="BarcodeId" type="hidden" name="BarcodeId" value="@x.BarcodeId" />
                                <input asp-for="SiliconPrice" type="hidden" name="SiliconPrice" value="@x.SiliconPrice" />
                                <input asp-for="SiliconAmount" type="hidden" name="SiliconAmount" value="@x.SiliconAmount" />
                                <input asp-for="SiliconName" type="hidden" name="SiliconName" value="@x.SiliconName" />
                                <input asp-for="CreateTime" type="hidden" name="CreateTime" value="@x.CreateTime" />
                                <input asp-for="IsDeleted" type="hidden" name="IsDeleted" value="@x.IsDeleted" />
                                <button type="submit" style="color: black; background-color: red;">HARD DELETE</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" asp-action="PasifDeleteSilicon" asp-area="Admin" asp-controller="Silicon">
                                <input asp-for="Id" type="hidden" name="Id" value="@x.Id" />
                                <input asp-for="BarcodeId" type="hidden" name="BarcodeId" value="@x.BarcodeId" />
                                <input asp-for="SiliconPrice" type="hidden" name="SiliconPrice" value="@x.SiliconPrice" />
                                <input asp-for="SiliconAmount" type="hidden" name="SiliconAmount" value="@x.SiliconAmount" />
                                <input asp-for="SiliconName" type="hidden" name="SiliconName" value="@x.SiliconName" />
                                <input asp-for="CreateTime" type="hidden" name="CreateTime" value="@x.CreateTime" />
                                <input asp-for="IsDeleted" type="hidden" name="IsDeleted" value="@x.IsDeleted" />
                                <button type="submit" style="color:black;background-color:yellow">SOFT DELETE</button>
                            </form>
                        </td>

                    </tr>
                }
           
            }

        </tbody>
    </table>
</div>