@model BathCeramic
@{
    List<BathCeramic> bath = ViewBag.bath;
}


<style>
    .custom-margin {
        text-align: center
    }
</style>

<div class="container mt-4">
    <h2 class="container custom-margin"> Bath Ceramic </h2>
    <br />
    <br />
    <table class="table table-dark">
        <thead>
            <tr>

                <th scope="auto">Barkod</th>
                <th></th>

                <th scope="auto">Bath Ceramic Name</th>


                <th></th>

                <th scope="auto">Bath Ceramic Price $</th>
                <th></th>
                <th scope="auto">Bath Ceramic Amount</th>
                <th scope="auto">HARD DELETE</th>
                <th scope="auto">SOFT DELETE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in bath)
            {
                @if (x.IsDeleted == false)
                {
                    <tr>
                        <td>@x.BarcodeId
                        <td>
                        <td>@x.CeramicName
                        <td>
                        <td>@x.CeramicPrice
                        <td>
                        <td>@x.CeramicAmount</td>

                        <td>
                            <form method="post" asp-action="DeleteBathCeramic" asp-area="Admin" asp-controller="BathCeramic">
                                <input asp-for="Id" type="hidden" name="Id" value="@x.Id" />
                                <input asp-for="BarcodeId" type="hidden" name="BarcodeId" value="@x.BarcodeId" />
                                <input asp-for="CeramicPrice" type="hidden" name="CeramicPrice" value="@x.CeramicPrice" />
                                <input asp-for="CeramicAmount" type="hidden" name="CeramicAmount" value="@x.CeramicAmount" />
                                <input asp-for="CeramicName" type="hidden" name="CeramicName" value="@x.CeramicName" />
                                <input asp-for="CreateTime" type="hidden" name="CreateTime" value="@x.CreateTime" />
                                <input asp-for="IsDeleted" type="hidden" name="IsDeleted" value="@x.IsDeleted" />
                                <button type="submit" style="color: black; background-color: red;">HARD DELETE</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" asp-action="PasifDeleteBathCeramic" asp-area="Admin" asp-controller="BathCeramic">
                                <input asp-for="Id" type="hidden" name="Id" value="@x.Id" />
                                <input asp-for="BarcodeId" type="hidden" name="BarcodeId" value="@x.BarcodeId" />
                                <input asp-for="CeramicPrice" type="hidden" name="CeramicPrice" value="@x.CeramicPrice" />
                                <input asp-for="CeramicAmount" type="hidden" name="CeramicAmount" value="@x.CeramicAmount" />
                                <input asp-for="CeramicName" type="hidden" name="CeramicName" value="@x.CeramicName" />
                                <input asp-for="CreateTime" type="hidden" name="CreateTime" value="@x.CreateTime" />
                                <input asp-for="IsDeleted" type="hidden" name="IsDeleted" value="@x.IsDeleted" />
                                <button type="submit" style="color:black;background-color:yellow">SOFT DELETE</button>
                            </form>
                        </td>
                    </tr>
                }
               
            }

        </tbody>
    </table>
</div>